<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.mogo.sunEdu.core.dao.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.cn.mogo.sunEdu.core.model.Teacher" >
    <id column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="tel_no" property="telNo" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="device_number" property="deviceNumber" jdbcType="VARCHAR" />
    <result column="device_type" property="deviceType" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="password_attempts" property="passwordAttempts" jdbcType="INTEGER" />
    <result column="last_date" property="lastDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>


  <resultMap id="StudentAddResultMap" type="com.cn.mogo.sunEdu.core.model.StudentAdd" >
    <!--<id column="id" property="id" jdbcType="INTEGER" />-->
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <collection property="studentList" ofType="com.cn.mogo.sunEdu.core.model.Student" resultMap="StudentResultMap"/>
  </resultMap>

  <resultMap id="StudentResultMap" type="com.cn.mogo.sunEdu.core.model.Student" >
    <id column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="initials" property="initials" jdbcType="CHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="tel_no" property="telNo" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="device_number" property="deviceNumber" jdbcType="CHAR" />
    <result column="password_attempts" property="passwordAttempts" jdbcType="INTEGER" />
    <result column="last_date" property="lastDate" jdbcType="TIMESTAMP" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>


  <sql id="Base_Column_List" >
    teacher_id, tel_no,avatar, password, device_number, device_type, subject, name, add_time,
    password_attempts, last_date, status
  </sql>


  <select id="selectByGroupId" resultMap="StudentAddResultMap" parameterType="java.lang.Integer" >
    select *
    from t_stu_group sg ,t_group g , t_student s
    where sg.group_id = #{groupId,jdbcType=INTEGER} AND sg.status = 1
     AND sg.group_id = g.group_id AND sg.student_id = s.student_id
  </select>


  <select id="selectByMobile" parameterType="java.lang.String" resultType="java.lang.Integer">
    select 
    COUNT(tel_no)
    from t_teacher
    where tel_no = #{telNo,jdbcType=VARCHAR}
  </select>

  <select id="findUserByTelNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_teacher
    where tel_no = #{telNo,jdbcType=VARCHAR}
  </select>

  <select id="findUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_teacher
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_teacher
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.mogo.sunEdu.core.model.Teacher" >
    insert into t_teacher (teacher_id, tel_no, avatar, password,
      device_number, device_type, subject, 
      name, add_time, password_attempts, 
      last_date, status)
    values (#{teacherId,jdbcType=INTEGER}, #{telNo,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{deviceNumber,jdbcType=VARCHAR}, #{deviceType,jdbcType=INTEGER}, #{subject,jdbcType=INTEGER},
      #{name,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{passwordAttempts,jdbcType=INTEGER},
      #{lastDate,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.mogo.sunEdu.core.model.Teacher" >
    insert into t_teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="telNo != null" >
        tel_no,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="deviceNumber != null" >
        device_number,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="addTime" >
        add_time,
      </if>
      <if test="passwordAttempts != null" >
        password_attempts,
      </if>
      <if test="lastDate != null" >
        last_date,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="telNo != null" >
        #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="deviceNumber != null" >
        #{deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addTime" >
--         #{addTime,jdbcType=TIMESTAMP},
        now(),
      </if>
      <if test="passwordAttempts != null" >
        #{passwordAttempts,jdbcType=INTEGER},
      </if>
      <if test="lastDate != null" >
        #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeyTeNO" parameterType="com.cn.mogo.sunEdu.core.model.Teacher" >
    update t_teacher
      <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="deviceNumber != null" >
        device_number = #{deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="passwordAttempts != null" >
        password_attempts = #{passwordAttempts,jdbcType=INTEGER},
      </if>
      <if test="lastDate != null" >
        last_date = #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where tel_no = #{telNo,jdbcType=VARCHAR}
  </update>
  <update id="updateSubject" parameterType="com.cn.mogo.sunEdu.core.model.Teacher" >
    update t_teacher
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="deviceNumber != null" >
        device_number = #{deviceNumber,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="passwordAttempts != null" >
        password_attempts = #{passwordAttempts,jdbcType=INTEGER},
      </if>
      <if test="lastDate != null" >
        last_date = #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.cn.mogo.sunEdu.core.model.Teacher" >
    update t_teacher
    set tel_no = #{telNo,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      device_number = #{deviceNumber,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=INTEGER},
      subject = #{subject,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      password_attempts = #{passwordAttempts,jdbcType=INTEGER},
      last_date = #{lastDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
</mapper>